@import "./base/reset";
@import "./base/fonts";
@import "./base/variables";
@import "./base/mixins";

.container {
  width: 95%;
  padding: 30px;
  margin: 0 auto;
  font-family: "Pacifico", cursive;
  &__header {
    text-align: center;
    border-radius: 5px;
    padding: 30px;
    background-color: rgb(99, 96, 96);
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
  }
  &__sections {
    display: flex;
    flex-wrap: wrap;
    &__movies {
      margin-left: 2%;
      margin-top: 15px;
      flex: 2;
      &__text {
        margin-bottom: 15px;
      }
      &__list {
        display: flex;
        flex-wrap: wrap;
      }
      &__card {
        width: 150px;
        height: 270px;
        margin: 5px;
        overflow: hidden;
        background-color: gray;
        border: 2px solid black;
        border-radius: 5px;
        box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
        &__header {
          font-size: 12px;
          color: white;
          padding-bottom: 8px;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
        &__year {
          font-size: 10px;
          color: white;
        }
      }
      &__card img {
        width: 150px;
        height: 200px;
        margin-bottom: 5px;
        border-radius: 5px;
        // @include responsive;
        width: 100%;
      }
    }

    &__filter__movies {
      border: 2px solid black;
      border-radius: 5px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
      flex: 1;
      margin-top: 10px;
      padding: 5px;
      &__legend {
        margin-left: 10px;
      }
      &__year {
        width: 100%;
        border: 1px solid black;
        display: inline-flex;
      }
      &__text {
        margin-top: 20px;
        margin-bottom: 5px;
      }
    }
  }
}

.search__form {
  display: flex;
  border: 2px solid black;
  overflow: auto;
  border-radius: 5px;
  &__icon {
    padding: 5px;
  }
  &__input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 auto;
    width: 100%;
    padding: 5px;
  }
  &__submit {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: flex-end;
    padding: 5px;
  }
}

.checkbox {
  display: inherit;
  cursor: pointer;
  font-size: 13px;
  margin-right: 10px;
  line-height: 18px;
  &:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background-color: #0088cc;
    color: #f3f3f3;
    text-align: center;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
      0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    border-radius: 3px;
  }
}
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .checkbox:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.icon-search:before {
  content: "\e800";
}

span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
  .container__sections {
    &__filter {
      width: 100%;
    }
    &__movies {
      &__list {
        justify-content: center;
      }
      &__card {
        width: 75%;
      }
    }
  }
  .checkbox {
    display: inline;
  }
}
